@import "container",
        "bootstrap",
        "sections";

body, *{
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

section, .container{
  position: relative;
  z-index: 2;
}

.main{
  
}
